.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__title {
    margin: toRem(10);
    font-size: 1.5rem;
    color: $color-white;
    font-weight: 500;

    @include mq(xl) {
      font-size: 2rem;
    }

    &--red {
      color: red;
    }

    &--blue {
      color: $color-primary;
      max-width: toRem(200);
      text-align: center;

      @include mq(sm) {
        max-width: toRem(500);
      }
    }

  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(md) {
      flex-direction: row;
    }
  }

  &__table {
    min-width: toRem(300);
    margin: toRem(6);
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: toRem(10);

    @include mq(md) {
      width: toRem(500);
    }
    @include mq(lg) {
      max-width: toRem(400);
      margin: 0 toRem(12);
      padding: 0;
    }
    @include mq(xl) {
      font-size: 1.5rem;
    }

    &--price {
      text-align: center;
    }

    & tbody {
      & tr:last-child {
        & td:first-child {
          border-radius: 0 0 0 toRem(8);
        }

        & td:last-child {
          border-radius: 0 0 toRem(8) 0;
        }
      }

    }

    & tr {
      border: 1px solid $color-white;

      & th:first-child {
        border-radius: toRem(8) 0 0 0;
      }

      & th:last-child {
        border-radius: 0 toRem(8) 0 0;
      }
    }

    & th, td {
      padding: toRem(10);

      border: 1px solid $color-white;
    }
  }

  &__text {
    @include mq(xl) {
      max-width: 50%;
    }
  }

  &__description {
    display: inline-block;
    padding: toRem(5) 0;
    margin: 0 toRem(12);
    font-size: 1rem;
    color: $color-white;
    text-align: center;

    & > span {
      font-weight: 600;
      color: $color-primary;
    }

    @include mq(sm) {
      max-width: toRem(550);
    }
    @include mq(lg) {
      max-width: toRem(700);
    }
    @include mq(xl) {
      font-size: 1.5rem;
      max-width: toRem(900);
    }

    &--amenities {
      padding-top: toRem(16);
    }
    &--red {
      color: red;
    }
    &--offer {
      max-width: toRem(350);
      @include mq(xl) {
        max-width: toRem(500);
      }
    }
  }

  &__contact {
    padding: toRem(10);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & a {
      text-decoration: none;
      color: $color-white;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__map {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .map {
      width: 90%;
      height: toRem(250);

      @include mq(md) {
        width: toRem(400);
      }

      @include mq(xl) {
        width: toRem(500);
        height: toRem(350);
      }
    }
  }
}